* {
    box-sizing: border-box;
}

.options {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgb(43, 7, 68);
}

.beat-select {
    display: flex;

}

.beat-option {
    padding: 0.25rem;
    border-radius: 50%;
    width: 8rem;
    height: 8rem;
    background-color: blueviolet;
    margin: 2.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 3rem;
}

.beat-option:nth-child(5) {
    font-size: 2.4rem;
}





.container {
    padding: 12%;
    background-color: rgb(43, 7, 68);
}

.row {
    padding-bottom: 2%;
    display: flex;
    justify-content: space-between;
    position: relative;
}

/* .row>input {
    padding-right: 2rem;


} */

/* input[type='checkbox'] {} */

.check {
    border: 1px solid yellow;
    width: 2vw;
    aspect-ratio: 1;
    margin-right: 15px;
    background-color: rgba(0, 0, 0, 0.3);
}


.separator {
    width: 100%;
    height: 1vh;
    background-color: rgb(65, 48, 112);
    margin-bottom: 5%;
}

.bar-separator {
    display: inline-block;
    height: 2vh;
    width: 5px;
    background-color: black;
    margin-right: 8px;
}

.info-box {
    position: absolute;
    padding: 0.2rem;
    background-color: sandybrown;
    width: 2rem;
    height: 2rem;
    border-radius: 18%;
    left: 10%;
}

/* .cxBox {
    border: 1px solid yellow;
    width: 2vw;
    aspect-ratio: 1;
    margin-right: 15px;
} */

.hidden {
    display: none;
}