* {
    box-sizing: border-box;
    font-family: 'Fira Sans', sans-serif;
}

body {
    background-color: rgb(43, 7, 68);
}

.options {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgb(43, 7, 68);
}

.loop-select {
    display: flex;
    position: absolute;
    top: 0;
    transition: top 0.5s ease-out;

}

.loop-option {
    padding: 0.25rem;
    border-radius: 50%;
    width: 8rem;
    height: 8rem;
    background-color: blueviolet;
    margin: 2.5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 3rem;
}

.loop-option:hover,
.loop-option:active {
    outline: 2px solid gold;
}

.loop-option:nth-child(4) {
    font-size: 2.4rem;
}

.loop-option>span {
    font-size: 1.8rem;
}

/* ************************************** */

.block-menu {
    position: absolute;
    top: -100rem;
    color: aliceblue;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    width: 50vw;
    transition: top 0.8s ease-in;
}

.octave-select,
.key-select,
.synth-select {
    width: 100%;
    text-align: center;
    margin-bottom: 8vh;
}

.octave-ops-container,
.synth-ops-container {
    display: flex;
    justify-content: space-between;
}

.octave-option {
    background-color: blueviolet;
    color: black;
    padding: 0.25rem;
    font-size: 2rem;
    width: 2.8rem;
    height: 2.8rem;
    border-radius: 50%;
}

.key-ops-container {
    display: flex;
    justify-content: space-around;
}

.key-option,
.synth-option {
    background-color: blueviolet;
    padding: 0.5rem;
    font-size: 1.5rem;
    border-radius: 25%;
    color: black;
}

.octave-option:hover,
.key-option:hover,
.synth-option:hover {
    outline: 2px solid gold;
}

.buttons-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#add-block {
    padding: 1rem;
    border-radius: 10%;
    margin-bottom: 10vh;
    width: 12vw;
    font-size: 1.2rem;
    background-color: gold;
    border: 3px solid black;
}

#add-block:hover {
    outline: 4px solid black;
    color: rgb(43, 7, 68);

}

#go {
    padding: 1.8rem;
    width: 30vw;
    border-radius: 10%;
    font-size: 2.2rem;
    background-color: green;

}

/* ************************************** */

.in-play-options {
    display: flex;
    justify-content: space-between;
    position: sticky;
    top: 2.5vh;
    z-index: 10;
}

.tempo-options,
#start {
    padding: 0.5rem;
    background-color: aliceblue;
    font-size: 1.5rem;
    margin: 0 5% 0 1%;
    border-radius: 35%;
}

.container {
    margin: 5%;
    background-color: rgba(0, 0, 0, 0.15);
}

.row {
    padding-bottom: 2%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
}

.synth-label {
    padding: 0.5rem;
    color: aliceblue;
    /* margin: 1rem; */
}

/* .row>input {
    padding-right: 2rem;


} */

/* input[type='checkbox'] {} */

.check {
    border: 1px solid yellow;
    width: 2vw;
    aspect-ratio: 1;
    margin-right: 15px;
    background-color: rgba(0, 0, 0, 0.3);
}


.separator {
    width: 100%;
    height: 2vh;
    background-color: rgb(43, 7, 68);
    margin-bottom: 0.5vh;
}

.bar-separator {
    display: inline-block;
    height: 2vh;
    width: 5px;
    background-color: black;
    margin-right: 8px;
}

.info-box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: absolute;
    font-weight: 600;
    font-family: sans-serif;
    background-color: blueviolet;
    width: 2vw;
    height: 2vw;
    border-radius: 18%;
    left: 2%;
    text-align: center;

}

.info-box>span {
    margin: auto;
}

/* .cxBox {
    border: 1px solid yellow;
    width: 2vw;
    aspect-ratio: 1;
    margin-right: 15px;
} */

.selected {
    outline: 4px solid gold;
    opacity: 0.5;
}

.hidden {
    display: none;
}